<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Event</title>
</head>
<body>
    <form action="/users/events" method="POST">
    <div >
                        <label class="form-label" >Enter Event Details</label>
                        <textarea class="form-control dark" name="description" id="body" cols="30" rows="3"
                            required></textarea>
    <button class="btn btn-success ">Submit</button>
</form>
<a href="/users/events" class="btn btn-secondary btn">Cancel</a>
<a href="/users/logout" class="btn btn-secondary btn">Logout</a>
</body>
</html>